<!DOCTYPE html>
<html lang="en">

<head>
<<<<<<< HEAD
    <%- include('./includes/head.ejs', { title: 'Halaman Awal' })%>
=======
    <%- include('./includes/head', { title: 'Halaman Awal' }) %>
>>>>>>> development
</head>

<body>
    <%- include('./includes/navigation.ejs')%>
<<<<<<< HEAD
    <main class="landingPage">
        <!-- Top Wrap -->
        <div class="top__wrapper">
            <div class="jumbotron">
                <div class="container">
                    <h1 class="display-4"> Konten olahraga rumahan.<br>
                        Untuk kamu yang beraktivitas di rumah.</h1>
                </div>
            </div>
        </div>
        <!-- Card Content  -->
        <div class="card__content">
            <!-- Ini Card Program Latihan -->
            <div class="container">
                <div class="landing__program">
                    <h2>Masih bingung mau mulai dari mana?</h2>
                    <div class="row justify-content-between">
                        <div class="col-17 col-md-8">
                            <p>Ada program olahraga yang bisa kamu coba dulu nih!</p>
                        </div>
                        <div class="col-1 col-md-2">
                            <a href="#">Lihat semua →</a>
                        </div>
                    </div>
                    <div class="row">
                        <!-- Card Pertama  -->
                        <div class="col-md-4 col-12">
                            <div class="card">
                                <img class="card-img-top" src="/images/full-shot-woman-doing-squats 1.png"
                                    alt="Card image cap">
                                <div class="card-body">
                                    <div class="card__header">
                                        <h5 class="card-title">Cardio</h5>
                                        <p> <svg width="19" height="21" viewBox="0 0 19 21" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M12.0703 0.0100098H6.07031V2.01001H12.0703V0.0100098ZM8.07031 13.01H10.0703V7.01001H8.07031V13.01ZM16.1003 6.39001L17.5203 4.97001C17.0903 4.46001 16.6203 3.98001 16.1103 3.56001L14.6903 4.98001C13.0976 3.69834 11.1146 2.9997 9.07031 3.00001C4.10031 3.00001 0.0703125 7.03001 0.0703125 12C0.0703125 16.97 4.09031 21 9.07031 21C14.0503 21 18.0703 16.97 18.0703 12C18.0703 9.89001 17.3303 7.94001 16.1003 6.39001ZM9.07031 19.01C5.20031 19.01 2.07031 15.88 2.07031 12.01C2.07031 8.14001 5.20031 5.01001 9.07031 5.01001C12.9403 5.01001 16.0703 8.14001 16.0703 12.01C16.0703 15.88 12.9403 19.01 9.07031 19.01Z"
                                                    fill="#757575" />
                                            </svg>
                                            30 detik </p>
                                    </div>
                                    <h3 class="card-text">Squat</h3>
                                    <p class="card-description">Lorem ipsum dolor, sit amet consectetur adipisicing
                                        elit. Tenetur unde accusamus ab aliquam in pariatur velit quasi provident
                                        accusantium nihil expedita, cupiditate cumque libero praesentium, nam,
                                        architecto ex nostrum facere?</p>
                                </div>
                            </div>
                        </div>
                        <!-- Card Kedua  -->
                        <div class="col-md-4 col-12">
                            <div class="card">
                                <img class="card-img-top"
                                    src="/images/horizontal-view-male-athlete-dressed-activewear-has-cardio-running-up-stairs-prepares-jogging-long-distance-makes-steps-jumps-high-african-american-man-t-shirt-leggings-trainers 1.png"
                                    alt="Card image cap">
                                <div class="card-body">
                                    <div class="card__header">
                                        <h5 class="card-title">Cardio</h5>
                                        <p> <svg width="19" height="21" viewBox="0 0 19 21" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M12.0703 0.0100098H6.07031V2.01001H12.0703V0.0100098ZM8.07031 13.01H10.0703V7.01001H8.07031V13.01ZM16.1003 6.39001L17.5203 4.97001C17.0903 4.46001 16.6203 3.98001 16.1103 3.56001L14.6903 4.98001C13.0976 3.69834 11.1146 2.9997 9.07031 3.00001C4.10031 3.00001 0.0703125 7.03001 0.0703125 12C0.0703125 16.97 4.09031 21 9.07031 21C14.0503 21 18.0703 16.97 18.0703 12C18.0703 9.89001 17.3303 7.94001 16.1003 6.39001ZM9.07031 19.01C5.20031 19.01 2.07031 15.88 2.07031 12.01C2.07031 8.14001 5.20031 5.01001 9.07031 5.01001C12.9403 5.01001 16.0703 8.14001 16.0703 12.01C16.0703 15.88 12.9403 19.01 9.07031 19.01Z"
                                                    fill="#757575" />
                                            </svg>

                                            45 detik </p>
                                    </div>
                                    <h3 class="card-text">Lari di Tempat</h3>
                                    <p class="card-description">Lorem ipsum dolor, sit amet consectetur adipisicing
                                        elit. Tenetur unde accusamus ab aliquam in pariatur velit quasi provident
                                        accusantium nihil expedita, cupiditate cumque libero praesentium, nam,
                                        architecto ex nostrum facere?</p>
                                </div>
                            </div>
                        </div>
                        <!-- Card Ketiga  -->
                        <div class="col-md-4 col-12">
                            <div class="card">
                                <img class="card-img-top"
                                    src="/images/businesswoman-relaxing-muscles-after-finishing-job 1.png"
                                    alt="Card image cap">
                                <div class="card-body">
                                    <div class="card__header">
                                        <h5 class="card-title kataPakar">Kata Pakar </h5>
                                        <p> <svg width="19" height="21" viewBox="0 0 19 21" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M12.0703 0.0100098H6.07031V2.01001H12.0703V0.0100098ZM8.07031 13.01H10.0703V7.01001H8.07031V13.01ZM16.1003 6.39001L17.5203 4.97001C17.0903 4.46001 16.6203 3.98001 16.1103 3.56001L14.6903 4.98001C13.0976 3.69834 11.1146 2.9997 9.07031 3.00001C4.10031 3.00001 0.0703125 7.03001 0.0703125 12C0.0703125 16.97 4.09031 21 9.07031 21C14.0503 21 18.0703 16.97 18.0703 12C18.0703 9.89001 17.3303 7.94001 16.1003 6.39001ZM9.07031 19.01C5.20031 19.01 2.07031 15.88 2.07031 12.01C2.07031 8.14001 5.20031 5.01001 9.07031 5.01001C12.9403 5.01001 16.0703 8.14001 16.0703 12.01C16.0703 15.88 12.9403 19.01 9.07031 19.01Z"
                                                    fill="#757575" />
                                            </svg>

                                            1 menit</p>
                                    </div>
                                    <h3 class="card-text">Peregangan Tangan</h3>
                                    <p class="card-description">Lorem ipsum dolor, sit amet consectetur adipisicing
                                        elit. Tenetur unde accusamus ab aliquam in pariatur velit quasi provident
                                        accusantium nihil expedita, cupiditate cumque libero praesentium, nam,
                                        architecto ex nostrum facere?</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br><br>
            <!-- Ini Card Artikel-->
            <div class="container">
                <div class="landing__article">
                    <h2>Hidup Sehat. Tetap Bugar. </h2>
                    <div class="row justify-content-between">
                        <div class="col-17 col-md-8">
                            <p>Dengan konten bacaan tentang olahraga dan kesehatan yang ditulis oleh para pakar</p>
                        </div>
                        <div class="col-1 col-md-2">
                            <a href="#">Lihat semua →</a>
                        </div>
                    </div>
                    <div class="row">
                        <!-- Card Pertama  -->
                        <div class="col-md-4 col-12">
                            <div class="card">
                                <img class="card-img-top" src="/images/a1.png" alt="Card image cap">
                                <div class="card-body">
                                    <div class="card__header">
                                        <h5 class="card-title kataPakar">Kata Pakar</h5>
                                    </div>
                                    <h3 class="card-text">Aktif Olahraga di Rumah dengan ‘Snack Exercise’</h3>
                                    <p class="card-description">Lorem ipsum dolor, sit amet consectetur adipisicing
                                        elit. Tenetur unde accusamus ab aliquam in pariatur velit quasi provident
                                        accusantium nihil expedita, cupiditate cumque libero praesentium, nam,
                                        architecto ex nostrum facere?</p>
                                </div>
                            </div>
                        </div>
                        <!-- Card Kedua  -->
                        <div class="col-md-4 col-12">
                            <div class="card">
                                <img class="card-img-top" src="/images/a2.png" alt="Card image cap">
                                <div class="card-body">
                                    <div class="card__header">
                                        <h5 class="card-title nutrisi">Nutrisi</h5>
                                    </div>
                                    <h3 class="card-text">Resep Makanan Berenergi Saat di Rumah</h3>
                                    <p class="card-description">Lorem ipsum dolor, sit amet consectetur adipisicing
                                        elit. Tenetur unde accusamus ab aliquam in pariatur velit quasi provident
                                        accusantium nihil expedita, cupiditate cumque libero praesentium, nam,
                                        architecto ex nostrum facere?</p>
                                </div>
                            </div>
                        </div>
                        <!-- Card Ketiga  -->
                        <div class="col-md-4 col-12">
                            <div class="card">
                                <img class="card-img-top" src="/images/a1.png" alt="Card image cap">
                                <div class="card-body">
                                    <div class="card__header">
                                        <h5 class="card-title kataPakar">Kata Pakar</h5>
                                    </div>
                                    <h3 class="card-text">Aktif Olahraga di Rumah dengan ‘Snack Exercise’</h3>
                                    <p class="card-description">Lorem ipsum dolor, sit amet consectetur adipisicing
                                        elit. Tenetur unde accusamus ab aliquam in pariatur velit quasi provident
                                        accusantium nihil expedita, cupiditate cumque libero praesentium, nam,
                                        architecto ex nostrum facere?</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Mid Wrap -->
        <div class="mid__wrapper">
            <div class="jumbotron">
                <div class="container">
                    <h1 class="display-4">Tentang OjoMager.
                        <br>
                        <br>
                        Dibuat dari kami, untuk kamu yang sibuk dengan kegiatan di rumah dan <br> butuh konten olahraga
                        rumahan.</h1>
                    <br>
                    <br>
                    <div class="row justify-content-center">
                        <div class="col-4">
                            <h1>50+</h1>
                            <br>
                            <p>Lebih dari 50+ konten video olahraga ditonton dalam sebulan</p>
                        </div>
                        <div class="col-4">
                            <h1>100+</h1>
                            <br>
                            <p>Lebih dari 100 konten video olahraga gratis yang cocok untuk dilakukan dirumah</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Our Service -->
        <div class="our-services">
            <div class="jumbotron">
                <div class="container">
                    <h1 class="display-4"> <span>LAYANAN KAMI.</span> <br><br>
                        Menyediakan berbagai panduan <br>
                        olahraga di rumah.</h1>
                    <br>
                    <div class="row justify-content-center">
                        <img src="/images/card service row.png">
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- Our Team -->
        <div class="our-team">
            <div class="jumbotron">
                <div class="container">
                    <h1 class="display-4"> <span>Tim Kami.</span> <br> OjoMager.</h1>
                    <br>
                    <div class="row justify-content-center">
                        <p>Dari Sabang sampai Merauke, berjajar tim kami</p>
                    </div>
                    <br>
                    <!-- <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="card">
                                    <img class="card-img-top" src="/images/IMG_Firhan.jpeg" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">Firhan</h5>
                                        <p class="card-text">
                                            Tech Lead <br>
                                            <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a> <br>
                                            <a href="/auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Twitter</a> <br>
                                            <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a> <br>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="card">
                                    <img class="card-img-top"
                                        src="/images/IMG_Helmi.jpeg"
                                        alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">Helmi</h5>
                                        <p class="card-text">FE Lead</p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="card">
                                    <img class="card-img-top" src="/images/IMG_Fahri.jpeg" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">Fahri</h5>
                                        <p class="card-text">UI/UX</p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="card">
                                    <img class="card-img-top" src="/images/IMG_Fatimah.jpeg" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">Fatimah</h5>
                                        <p class="card-text">UI/UX</p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="card">
                                    <img class="card-img-top" src="/images/IMG_Erwin.jpeg" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">Erwin</h5>
                                        <p class="card-text">Developer</p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="card">
                                    <img class="card-img-top" src="images/IMG_Clemens.jpeg" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">Clemens</h5>
                                        <p class="card-text">Developer</p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="card">
                                    <img class="card-img-top" src="/images/IMG_Argo.jpeg" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">Argo</h5>
                                        <p class="card-text">Developer</p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="card">
                                    <img class="card-img-top" src="/images/IMG_Dimas.jpeg" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">Dimas</h5>
                                        <p class="card-text">Developer</p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="card">
                                    <img class="card-img-top" src="/images/IMG_Zaki.jpg" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">Zaki</h5>
                                        <p class="card-text">Developer</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <!-- Add Pagination -->
                    <div class="swiper-container" id="swiper-container2" style="width:800px;">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide active-slider">
                                <div class="card">
                                    <img class="card-img-top" src="/images/IMG_Firhan.jpeg" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">Firhan</h5>
                                        <p class="card-text">
                                            Tech Lead
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="swiper-slide">
                                <div class="card">
                                    <img class="card-img-top"
                                        src="/images/IMG_Helmi.jpeg"
                                        alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">Helmi</h5>
                                        <p class="card-text">FE Lead</p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="card">
                                    <img class="card-img-top" src="/images/IMG_Fahri.jpeg" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">Fahri</h5>
                                        <p class="card-text">UI/UX</p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="swiper-slide">
                                    <div class="card">
                                        <img class="card-img-top" src="/images/IMG_Fatimah.jpeg" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">Fatimah</h5>
                                            <p class="card-text">UI/UX</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="swiper-slide">
                                    <div class="card">
                                        <img class="card-img-top" src="/images/IMG_Erwin.jpeg" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">Erwin</h5>
                                            <p class="card-text">Developer</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="swiper-slide">
                                    <div class="card">
                                        <img class="card-img-top" src="images/IMG_Clemens.jpeg" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">Clemens</h5>
                                            <p class="card-text">Developer</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="swiper-slide">
                                    <div class="card">
                                        <img class="card-img-top" src="/images/IMG_Argo.jpeg" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">Argo</h5>
                                            <p class="card-text">Developer</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="card">
                                    <img class="card-img-top" src="/images/IMG_Dimas.jpeg" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">Dimas</h5>
                                        <p class="card-text">Developer</p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="card">
                                    <img class="card-img-top" src="/images/IMG_Zaki.jpg" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">Zaki</h5>
                                        <p class="card-text">Developer</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- Bottom Wrap -->
        <div class="btm__wrapper">
            <div class="jumbotron">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-10">
                            <p>Butuh penyemangat? Kamu bisa subscribe untuk diberikan kalimat penyemangat dan motivasi
                                di hari-harimu!</p>
                        </div>
                        <div class="col-2">
                            <button type="button" class="btn btn-light"> <a href="#">Aku mau diberi semangat!
                                    →</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <%- include('./includes/footer.ejs')%>
    <%- include('./includes/end.ejs')%>
    <script>
        var mySwiper2 = new Swiper('#swiper-container2', {
            watchSlidesProgress: true,
            watchSlidesVisibility: true,
            slidesPerView: 3

        })
    </script>
=======
    <section style="min-height: 100vh;">
        <h1 class="mt-5 pt-5 text-center">yang ini masi otw sabar y mniez</h1>
    </section>
    <%- include('./includes/footer.ejs')%>
    <%- include('./includes/end.ejs') %>
>>>>>>> development
</body>

</html>