<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../includes/head', { title: 'Data Artikel' }) %>
</head>

<body>
    <main class="detailArticle mt-5">
        <!-- article -->
        <div class="container article">
            <div class="row">
                <div class="col-md-8 pl-5">
                    <h5 class="btn btn-sm btn-primary"
                        style="background-color: #<%= article.category_button_color_code %>; border-color: #<%= article.category_button_color_code %>;">
                        <%= article.category_name %></h5>
                    <h2 class="font-weight-bold"> <%= article.title %></h5>
                    </h2>
                    <h6 class="text-muted"> Oleh:<%= article.publisher_name %> • <%= article.published_at%></h5>
                    </h6>
                    <a href="#"> Bagikan Artikel Ini</a>
                    <% 
                    const paragraphs = article.content.split('\n\n');
                    paragraphs.forEach(paragraph => { %>
                    <p class="text-justify">
                        <%= paragraph %>
                    </p>
                    <% }) %>
                </div>

                <!-- side article -->
                <div class="col-md-4">
                    <div class="card__content">
                        <!-- Top Side Right  -->
                        <div class="row">
                            <div class="col">
                                <p class="lainnya mt-5">Artikel lainnya </p>
                            </div>
                            <div class="col mt-5">
                                <a class="link" href="/articles"> Lihat semua -></a>
                            </div>
                        </div>
                        <% randomArticles.forEach(article => { %>
                        <a href="/article/<%= article.slug %>" style="text-decoration: none; color: inherit;">
                            <div class="row">
                                <div class="col">
                                    <div class="card shadow-sm">
                                        <img class="card-img-top" src="<%= article.image_url %>">
                                        <div class="card-body">
                                            <span href="" class="btn btn-sm btn-success mb-1" id="tombolartikel"
                                                style="background-color: #<%= article.category_button_color_code %>; border-color: #<%= article.category_button_color_code %>;">
                                                <%= article.category_name %>
                                            </span>
                                            <h3 class="card-text"><%= article.title %>
                                            </h3>
                                            <p class="card-description text-justify"><%= article.truncated_content %>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%- include('../includes/footer.ejs') %>
    <%- include('../includes/end.ejs') %>
</body>

</html>