<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../includes/head', { title: 'List Program' }) %>
</head>

<body>
    <%- include('./../includes/navigation.ejs')%>

    <main class="listOlahraga">
        <!-- title bar -->
        <div class="title-bar">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h2>Video Olahraga</h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- box filter and search -->
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <div class="dropdown">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Filter Kategori
                        </button>
                        <div class="dropdown-menu">
                            <% programTypes.forEach(programType=> { %>
                            <a class="dropdown-item" href="<%= '?type=' + programType.name %>">
                                <%= programType.name %>
                            </a>
                            <% }) %>
                        </div>
                    </div>
                </div>

                <div class="col-6">
                    <div class="searchbar">
                        <form id="form" method="GET">
                            <div class="input-group mb-3">
                                <input type="text" name="title" class="form-control"
                                    placeholder="Program apa yang ingin kamu cari?">
                                <div class="input-group-append" onclick="javascript:document.forms[0].submit();">
                                    <button class="btn input-group-text bg-primary text-white" id="basic-addon2">
                                        Cari
                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M11.6256 0.493744C7.38266 0.493744 3.94538 3.9327 3.94538 8.17374C3.94318 9.57091 4.32402 10.942 5.0465 12.1378L1.3229 15.8614L1.33586 15.8744C0.938416 16.2548 0.694336 16.7948 0.694336 17.4051C0.694096 18.5842 1.63346 19.5063 2.81138 19.5061C3.41306 19.5058 3.95114 19.2651 4.33514 18.8734L4.3445 18.8828L8.18642 15.0406C9.25361 15.5765 10.4315 15.8549 11.6256 15.8537C15.8688 15.8537 19.3054 12.4153 19.3054 8.17374C19.3054 3.9327 15.8686 0.493744 11.6256 0.493744ZM11.6722 12.8338C9.02018 12.8338 6.87194 10.6849 6.87194 8.03382C6.87194 5.38326 9.02018 3.23382 11.6722 3.23382C14.3242 3.23382 16.4719 5.38302 16.4719 8.03382C16.4722 10.6849 14.3242 12.8338 11.6722 12.8338Z"
                                                fill="#FAFAFA" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- main-card content -->
        <div class="card__content">
            <div class="container">
                <!-- ini akan dinamis -->
                <div class="row">
                    <% programs.data.forEach(program=> { %>
                    <div class="col-md-4 col-12">
                        <a href="/program/<%= program.slug %>" style="text-decoration: none; color: inherit;">
                            <div class="card shadow-sm">
                                <img class="card-img-top" src="<%= program.image_url %>" alt="Card image cap">
                                <div class="card-body">
                                    <div class="title__flexbox d-flex">
                                        <h5 class="card-title bg-primary text-white px-2 py-1 rounded mr-3"
                                            style="background-color: #<%= program.program_type_button_color_code %> !important;">
                                            <%= program.program_type_name %>
                                        </h5>
                                        <svg class="mr-2" width="19" height="21" viewBox="0 0 19 21" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M12.5703 0.0100098H6.57031V2.01001H12.5703V0.0100098ZM8.57031 13.01H10.5703V7.01001H8.57031V13.01ZM16.6003 6.39001L18.0203 4.97001C17.5903 4.46001 17.1203 3.98001 16.6103 3.56001L15.1903 4.98001C13.5976 3.69834 11.6146 2.9997 9.57031 3.00001C4.60031 3.00001 0.570312 7.03001 0.570312 12C0.570312 16.97 4.59031 21 9.57031 21C14.5503 21 18.5703 16.97 18.5703 12C18.5703 9.89001 17.8303 7.94001 16.6003 6.39001ZM9.57031 19.01C5.70031 19.01 2.57031 15.88 2.57031 12.01C2.57031 8.14001 5.70031 5.01001 9.57031 5.01001C13.4403 5.01001 16.5703 8.14001 16.5703 12.01C16.5703 15.88 13.4403 19.01 9.57031 19.01Z"
                                                fill="#757575" />
                                        </svg>
                                        <span>
                                            <%= parseSecond(program.duration) %>
                                        </span>
                                    </div>
                                    <h6 class="card-text font-weight-bold">
                                        <%= program.title %>
                                    </h6>
                                    <P class="text-justify">
                                        <%= truncateString(program.description) %>
                                    </P>
                                </div>
                            </div>
                        </a>
                    </div>
                    <% }); %>
                </div>
            </div>

            <!-- pagination -->
            <div class="">
                <div class="row justify-content-center border-0">
                    <div class="container">
                        <div class="col-5 mx-auto">
                            <ul class="pagination">
                                <% if (programs.totalPage > 1) { %>
                                    <% if (programs.previousPage) { %>
                                        <li class="page-item">
                                            <a class="page-link" 
                                                <% if (type) { %>
                                                    href="?type=<%= type %>&page=<%= programs.previousPage %>" 
                                                <% } else if (title) { %>
                                                    href="?title=<%= title %>&page=<%= programs.previousPage %>" 
                                                <% } else { %>
                                                    href="?page=<%= programs.previousPage %>" 
                                                <% } %>
                                            tabindex="-1"> Sebelumnya </a>
                                        </li>
                                    <% } else { %>
                                        <li class="page-item disable">
                                            <a class="page-link" href="#" tabindex="-1"> Sebelumnya </a>
                                        </li>
                                    <% } %>
    
                                    <% for (let i = 1; i <= programs.totalPage; i++) { %>
                                        <li class="page-item"><a class="page-link"
                                            <% if (type) { %>
                                                href="?type=<%= type %>&page=<%= i %>" 
                                            <% } else if (title) { %>
                                                href="?title=<%= title %>&page=<%= i %>" 
                                            <% } else { %>
                                                href="?page=<%= i %>"
                                            <% } %>
                                        ><%= i %></a></li>
                                    <% } %>
                                    
                                    <% if (programs.nextPage) { %>
                                        <a class="page-link" 
                                                <% if (type) { %>
                                                    href="?type=<%= type %>&page=<%= programs.nextPage %>" 
                                                <% } else if (title) { %>
                                                    href="?title=<%= title %>&page=<%= programs.nextPage %>" 
                                                <% } else { %>
                                                    href="?page=<%= programs.nextPage %>" 
                                                <% } %>
                                            tabindex="-1"> Selanjutnya </a>
                                    <% } else { %>
                                        <li class="page-item disable">
                                            <a class="page-link" href="#" tabindex="-1"> Selanjutnya </a>
                                        </li>
                                    <% } %>
                                <% } %> 
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <%- include('../includes/footer.ejs') %>
    <%- include('./../includes/end.ejs') %>
</body>

</html>